!!!
%html
  %head
    = stylesheet_link_tag 'hollaback'
    = stylesheet_link_tag 'bootstrap.min'
  %title
    Hollaback Admin:
    = yield_content :title
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => '/'}Hollaback Admin
          .nav-collapse
            %ul.nav
              %li
                %a{:href => '/stats'}Stats
              %li
                %a{:href => '/whitelist'}Whitelist
    .container
      = yield
